header {
  a {
    text-decoration: none;
    cursor: pointer;
    color: #283d4b;
    font-weight: 600;
    font-size: 16px;
  }

  .headerNav {
    color: #283d4b;
    font-weight: 600;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(29, 235, 63, 1) 81%
    );
    padding: 15px 135px;
  }

  .furniking {
    font-size: 24px;
    color: #555;

    strong {
      font-weight: 600;
    }
  }

  .headerBottom {
    padding: 10px 135px;
  }

  .login {
    font-weight: 600;
    color: #0589e1;
  }

  button {
    cursor: pointer;
    color: #0589e1;
    font-weight: 600;
    font-size: 16px;
  }
}
