@import "macro-css";

button {
  border: 0;
  background-color: unset;
}

* {
  box-sizing: border-box;
  font-family: "Rubik";
}

.App {
  max-width: 1440px;
  margin: auto;
}

h1 {
  color: #555;
  font-weight: 500;
  text-align: center;
  font-size: 38px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  button {
    cursor: pointer;
    color: #283d4b;
    font-weight: 600;
    font-size: 16px;
  }

  .header-nav {
    color: #283d4b;
    font-weight: 600;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(29, 235, 63, 1) 81%
    );
    padding: 15px 135px;
  }

  .furniking {
    font-size: 24px;
    color: #555;

    strong {
      font-weight: 600;
    }
  }

  .header-bottom {
    padding: 20px 135px;
  }
}

aside {
  height: 511px;
  padding: 0px 135px;

  .modernFurniture {
    background-image: url(./images/modernFurniture.png);
    height: 100%;
    background-repeat: no-repeat;
    min-width: 669px;
    padding: 49px 31px;
    background-position: center;
    transition: all 1s;
    background-size: 100%;

    &:hover {
      transition: all 1s;
      background-size: 110%;
    }
  }

  .geometricBookcase,
  .minimalSofa {
    height: 247px;
    background-repeat: no-repeat;
    width: 485px;
    padding: 52px 24px;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    background-size: 100%;

    &:hover {
      transition: all 1s;
      background-size: 110%;
    }
  }

  .geometricBookcase {
    background-image: url(./images/geometricBookcase.png);
    margin-bottom: 17px;
  }

  .minimalSofa {
    background-image: url(./images/minimalSofa.png);
  }

  button {
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
  }

  .info {
    color: #7ac751;
    font-weight: 500;
  }

  button,
  h3 {
    font-weight: 600;
  }
}

section {
  nav {
    margin-bottom: 50px;
    ul {
      width: 600px;
      margin: auto;
      padding: 0;

      li {
        color: #c2c2c2;
        font-size: 24px;
        cursor: pointer;

        &:active {
          color: #7ac751;
        }
      }

      .selected {
        color: #7ac751;
      }
    }
  }
}

.product {
  width: 265px;
  padding: 0 10px 20px 10px;
  cursor: pointer;
  margin-bottom: 20px;

  .productImg {
    height: 287px;
    background-repeat: no-repeat;
    background-size: 220px;
    transition: 1s;
    background-position: center;

    .basketLogo,
    .likeProduct {
      width: 39px;
      height: 39px;
      text-align: center;
      line-height: 48px;
      border-radius: 39px;
      border: 3px solid rgb(210, 210, 210);
      opacity: 0;
      transition: 0.2s;
    }
  }

  &:hover .basketLogo {
    opacity: 1;
    transition: 0.2s;
  }
  &:hover .likeProduct {
    opacity: 1;
    transition: 0.2s;
  }

  .type {
    color: #757575;
    font-size: 14px;
  }

  .productName {
    font-size: 19px;
    color: #555555;
  }

  .price {
    color: #7ac751;
  }

  .productImg {
    justify-content: right;
    position: relative;

    div {
      position: absolute;
      background-color: rgb(255, 255, 255);
    }

    .likeProduct {
      right: 10px;
      top: 185px;
    }

    .basketLogo {
      right: 10px;
      top: 235px;
    }

    .selectedLike {
      fill: #fff;
      border: 2px solid #7ac751;
      background-color: #7ac751;
      opacity: 1;
    }

    .selectedProduct {
      fill: #fff;
      border: 2px solid #7ac751;
      background-color: #7ac751;
      opacity: 1;
    }
  }
  &:hover {
    box-shadow: 0px 0px 19px 0px rgba(34, 60, 80, 0.23);
  }
  &:hover .productImg {
    background-size: 120%;
    transition: 0.8s;
  }
}

.productsWrapper {
  padding: 0 135px;
  flex-wrap: wrap;
}

article {
  padding: 0 200px;
  position: relative;

  img {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 16px;
    display: block;
    line-height: 150%;
    text-align: center;
    margin: auto;
    letter-spacing: 0.005em;
    color: #515151;
    width: 600px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  h4 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #555;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .navArrowLeft,
  .navArrowRight {
    position: absolute;
    cursor: pointer;
  }

  .navArrowLeft {
    top: 200px;
    left: 260px;
  }

  .navArrowRight {
    right: 260px;
    top: 200px;
  }
}

footer {
  padding: 20px 135px;
  border-top: 1px solid #e8e8e8;

  .furniking {
    font-size: 24px;
    color: #555;
    margin-left: 10px;
  }
}
